*{
  padding: 0;
  margin: 0;
}
#sidebar {
  background-color:black;
  height:50px;
}
ul li {
  list-style-type: none;
  width: 150px;
  float: left;
  text-align: center;
}
li a {
  text-decoration: none;
  color:white;
  line-height: 50px;
  display: block;
}
li a:hover {
  background-color: #5B2C6F;
}

#main{
  padding: 2rem;
  margin: 1 1 2rem auto;
}

#search{
  padding: 0.5rem;
  margin: auto;
}
#body{
  padding: 2rem;
  margin: auto;
}
#person{
  padding: 0.5rem;
}
#checkbox{
  padding: 0.5rem;
}
.people{
  padding: 0.5rem;
}
.read{
line-height: 30px;
}


.form {
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid #5B2C6F;
  padding: 2rem;
}
.form label{
  display:block;
  padding: 1rem 0 .5rem;
}
input, textarea{
  border: 2px solid #5B2C6F;
}
